body {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    background: #9abacb;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
